<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    main.mustache 입니다.<br>

    <a href="/ticket">예매서비스 메인화면</a> <br>
    <a href="/event">작품소개 메인화면</a><br>
    <a href="/ar">예매서비스 메인화면</a><br>
    <a href="/community">커뮤니티 메인화면</a>

</body>
</html>